<footer id="footer">
    <img id="notepad" src="{{ site.baseurl }}/graphics/footer.svg">
    <div id="backToTop">
        <a href="#" class="upArrow">⬆&#xFE0E;</a>
        <a href="#" class="text">Back<br>to the<br>top</a>
    </div>
    <div class="footerText">
        <div id="copyright">XX Club 2005-{{ "now" | date: "%Y" }}</div>
    </div>
    <div id="links">
        <div>
            <a href="{{ site.baseurl }}/about">About us</a>
        </div>
        <div>
            <a href="{{ site.baseurl }}/news">Latest news</a>
        </div>
        <div>
            <a href="{{ site.baseurl }}/contact">Get in-touch</a>
        </div>
    </div>
    <div id="chairs">
        <div id="roles">
            <span>Chairperson</span>
            <span>Vice Chairperson</span>
        </div>
        <div id="names">
            <a href="{{ site.baseurl }}/contact#xxx">
                <b>someone...</b>
            </a>
            <a href="{{ site.baseurl }}/contact#xxx">
                <b>someone..</b>
            </a>
        </div>
    </div>
    <div id="socials">
        <div id="facebook">
            <a href="https://www.facebook.com/xxx" target="_blank">Follow us on Facebook</a>
            <img src="{{ site.baseurl }}/graphics/facebook.png" alt="Facebook Icon">
        </div>
        <div id="github">
            <a href="https://www.github.com/xxx" target="_blank">Made with ❤ on GitHub</a>
            <img src="{{ site.baseurl }}/graphics/github.png" alt="GitHub">
        </div>
    </div>
</footer>
