<nav>
    < img src="{{ site.baseurl }}/graphics/nav/{{ page.section }}.svg">
    <ul id="tabs">
        <li>
            <a href=" ">Home</a >
        </li>
        <li>
            <a href="{{ site.baseurl }}/issues">Issues</a >
        </li>
        <li>
            <a href="{{ site.baseurl }}/about">About us</a >
        </li>
    </ul>
    <!-- <form action="{{ site.baseurl }}/search">
        <input id="search" type="search" placeholder="   Type here to search" name="query" pattern=".{3,}" required>
    </form> -->
    < img id="pushpin" src="{{ site.baseurl }}/graphics/pushpin.svg">
</nav>
