<!DOCTYPE html>
<html lang="en-GB">
    {% include head.html %}
    <body>
        <div id="decorations">
            {% include decorations.html %}
        </div>
        
        <div id="container">
            {% include header.html %}
            {% include nav.html %}
            
            <div id="body">
                <ol id="breadcrumb">
                    <li><a href=" ">Home</a ></li>
                    <li>{{ page.title }}</li>
                </ol>
                
                {{ content }}
                
                {% include footer.html %}
            </div>
        </div>
    </body>
</html>
